<template>
    <div class="container">
        <div>
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card card-default">
                        <div class="card-header">AGR Upload Component</div>
                        <div class="card-body">
                            <div class="alert alert-danger" v-if="errorMessage"
                                 :class="{'shake animated': errorMessage!=''}">
                                {{ errorMessage}}
                            </div>
                            <br>
                            <form @submit.prevent="upload($event)" enctype="multipart/form-data">
                                <div class="row">


                                    <div class="col-md-6">
                                        <input type="file" style=" height: auto; " :disabled="disabled" accept=".AGR"
                                               v-on:change="fileChange($event.target)"
                                               class="form-control">
                                    </div>
                                    <div class="col-md-3">
                                        <button type="submit" class="btn btn-success btn-block" :disabled="disabled">
                                            <i class="fa fa-spinner fa-spin" v-if="disabled"></i> {{ disabled ?
                                            'Gözləyin...' :
                                            'Yüklə' }}
                                        </button>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "fileUpload",
        data() {
            return {
                chosenFile: '',
                disabled: false,
                errorMessage: ''

            }
        },
        computed: {
            currentUser() {
                return this.$store.getters.currentUser;
            },
        },
        methods: {
            fileChange(target) {

                this.chosenFile = target.files[0]

           //     console.log(this.chosenFile);
                //    console.log(target.files[0])

            },
            upload(event) {
                if (this.chosenFile == '') {
                    alert("AGR faylını boş buraxmayın!");
                    //event.preventDefault();

                }
                else {
                    let formData = new FormData();
                    this.disabled = true;
                    this.errorMessage = ''
                    /*
                    Add the form data we need to submit
                */
                    formData.append('file', this.chosenFile);
                    axios.post('/api/upload', formData, {
                        headers: {
                            "Authorization": 'Bearer ' + this.currentUser.token,

                        }
                    }).then(() => {

                        this.disabled = false;
                        this.spin = false;
                        this.$router.push('/meters');
                    }).catch((error) => {

                        this.disabled = false;
                        this.errorMessage = error.response.data.message;


                    });
                }
            }

        }
    }
</script>

<style>

</style>
