<template>
    <div>
        <!--     <loading v-show="load"></loading>-->
        <div class="centered">
            <pulse-loader :loading="load" :color="'#204d74'" :size="'55px'"></pulse-loader>
        </div>
        <table border="0" class="table">
            <tr>
                <td class="col-md-3 mb-3" style="border-top:0px;"><label>Sayğac markası</label>
                    <input type="text" class="form-control" placeholder="Sayğac markasını daxil edin"
                           v-model="search_params.meter_mark" v-on:keyup.enter="search"></td>
                <td class="col-md-3 mb-3" style="border-top:0px;"><label>Arxiv tarixinədən</label>
                    <input type="text" class="form-control" placeholder="Arxivin başlanma tarixi"
                           v-model="search_params.archive_from_date" v-on:keyup.enter="search"
                    >
                </td>
                <td class="col-md-3 mb-3" style="border-top:0px;"><label>Arxiv tarixinədək</label>
                    <input type="text" class="form-control" v-model="search_params.archive_to_date"
                           v-on:keyup.enter="search" placeholder="Arxivin bitmə tarixi"
                    ></td>
                <td width="4" rowspan="2" class="col-md-3 mb-3" style="border-top:0px;"><label
                    for="exampleFormControlSelect2">Pozulan şərtlər
                    üzrə</label>
                    <select multiple v-model="search_params.problems" class="form-control"
                            id="exampleFormControlSelect2" size="3" @change="search">
                        <option class="option_padding" value="vm_consumption">VM sərfiyyat problemi</option>
                        <option class="option_padding" value="vbt_consumption">Vbt sərfiyyat problemi</option>
                        <option class="option_padding" value="vbt_vm_difference">VBT VM fərqi problemi</option>

                        <option class="option_padding" value="vm_vbt_proportionality">Vm Vbt mütanasibliyi</option>
                        <option class="option_padding" value="vm_consumption_bounce">Vm sərfiyyat sıçrayışı</option>
                        <option class="option_padding" value="vbt_consumption_bounce">Vbt sərfiyyat sıçrayışı</option>
                        <option class="option_padding" value="pmp_stuck">P.MP ilişməsi</option>
                        <option class="option_padding" value="tmp_stuck">T.MP ilişməsi</option>
                        <option class="option_padding" value="vb_vbt_proportionality">VB VBT uyğunluğu</option>
                        <option class="option_padding" value="vm_vmt_proportionality">VM VMT uyğunluğu</option>
                        <option class="option_padding" value="pmp_cmp_difference">PMP CMP fərqi</option>
                        <option class="option_padding" value="vm_qmax_comparison">Vm Qmax müqayisə</option>
                        <option class="option_padding" value="vm_qmin_comparison">Vm Qmin müqayisə</option>
                        <option class="option_padding" value="indicator_relativity">Göstəricilərin mütənasibliyi</option>

                    </select></td>
            </tr>
            <tr>
                <td style="border-top:0px;"><label>Sayğacın nömrəsi</label>
                    <input type="text" class="form-control" placeholder="Sayğacın nömrəsi daxil edin"
                           v-model="search_params.meter_number" v-on:keyup.enter="search"/></td>
                <td style="border-top:0px;"><label>Yüklənmə tarixindən</label>
                    <input type="text" class="form-control" placeholder="Yükləmə başlama tarixi"
                           v-model="search_params.created_from_date" v-on:keyup.enter="search"/></td>
                <td style="border-top:0px;"><label>Yüklənmə tarixindək</label>
                    <input type="text" class="form-control" placeholder="Yükləmə bitmə tarixi"
                           v-model="search_params.created_to_date" v-on:keyup.enter="search"/></td>
            </tr>
        </table>


        <div class="btn-wrapper">


<span style="float:left;padding:5px 5px 5px 5px;font-size:12px; font-weight:bold; background-color:#f7f7f7" v-if="meters.length">Başlanğıc: {{pagination.from_page}} | Cəmi: <u>{{pagination.total_page}}</u></span>

            <button  style="float:right;margin-bottom:4px;" type="button" class="btn btn-success btn-sm" v-on:click="onexport" v-if="meters.length">
                <i class="fa fa-spinner fa-spin" v-if="excel_loading"></i>
                <i class="fa fa-file-excel-o" aria-hidden="true" v-if="!excel_loading"></i>

                {{
                excel_loading ?
                'Gözləyin...' :
                'Hesabatı yüklə' }}
            </button>

        </div>


<br style="clear:both;">
        <div style="overflow-x:auto;">
            <div class="alert alert-primary" role="alert" v-if="!meters.length" style="text-align:center">
                Sayğac məlumatları tapılmadı
            </div>

            <table class="table" v-else>
                <thead>
                <th style="text-align:center;">Sayğac nömrəsi</th>
                <th style="text-align:center;">Sayğacın markası</th>
                <th style="text-align:center;">Yüklənmə Tarix saat</th>
                <th style="text-align:center;">Arxiv Tarix saat</th>
                <th style="text-align:center;">Vm</th>
                <th style="text-align:center;">Vm sərfiyyat</th>
                <th style="text-align:center;">VbT</th>
                <th style="text-align:center;">VbT sərfiyyat</th>
                <th style="text-align:center;">Vbt Vm fərqi</th>
                <th style="text-align:center;">Vm Vbt mütənasibliyi</th>
                <th style="text-align:center;">Vm sərfiyyat sıçrayışı</th>
                <th style="text-align:center;">Vbt sərfiyyat sıçrayışı</th>
                <th style="text-align:center;">PMP</th>
                <th style="text-align:center;">P.MP ilişməsi</th>
                <th style="text-align:center;">TMP</th>
                <th style="text-align:center;">T.MP ilişməsi</th>
                <th style="text-align:center;">Vb</th>
                <th style="text-align:center;">Vb Vbt uyğunluğu</th>
                <th style="text-align:center;">Vmt</th>
                <th style="text-align:center;">Vm Vmt uyğunluğu</th>
                <th style="text-align:center;">CMP</th>
                <th style="text-align:center;">PMP CMP fərqi</th>
                <th style="text-align:center;">Qmax</th>
                <th style="text-align:center;">Vm Qmax müqayisə</th>
                <th style="text-align:center;">Qmin</th>
                <th style="text-align:center;">Vm Qmin müqayisə</th>
                <th style="text-align:center;">Göstəricilərin mütanasibliyi</th>
                <th style="text-align:center;">indicator_id</th>
                <th style="text-align:center;">vbs</th>
                <th style="text-align:center;">vbts</th>
                <th style="text-align:center;">pmps</th>
                <th style="text-align:center;">tmps</th>
                <th style="text-align:center;">kmp</th>
                <th style="text-align:center;">kmps</th>
                <th style="text-align:center;">cmp</th>
                <th style="text-align:center;">cmps</th>
                <th style="text-align:center;">st2</th>
                <th style="text-align:center;">st4</th>
                <th style="text-align:center;">st7</th>
                <th style="text-align:center;">st6</th>
                <th style="text-align:center;">stsy</th>
                <th style="text-align:center;">ev</th>
                <th style="text-align:center;">gono</th>
                <th style="text-align:center;">check</th>

                </thead>
                <tbody>
                <!-- <tr style="text-align:center;">
                     <td><input type="text" v-model="search_params.meter_number" v-on:keyup.enter="search"
                                class="input_filter"></td>
                     <td><input type="text" v-model="search_params.meter_type" v-on:keyup.enter="search"
                                class="input_filter"
                                placeholder="Second"
                     ></td>
                     <td><input type="text" v-model="search_params.meter_mark" v-on:keyup.enter="search"
                                class="input_filter"></td>
                     <td><input type="text" v-model="search_params.zeit" v-on:keyup.enter="search" class="input_filter"></td>
                     <td><input type="text" v-model="search_params.vm" v-on:keyup.enter="search" class="input_filter"></td>
                     <td><input type="text" v-model="search_params.vm_consumption" v-on:keyup.enter="search"
                                class="input_filter"></td>
                     <td><input type="text" v-model="search_params.vbt" v-on:keyup.enter="search" class="input_filter"></td>
                     <td><input type="text" v-model="search_params.vbt_consumption" v-on:keyup.enter="search"
                                class="input_filter"></td>
                     <td><input type="text" v-model="search_params.vbt_vm_difference" v-on:keyup.enter="search"
                                class="input_filter"></td>
                 </tr>-->


                <tr v-for="meter in meters" :key="meter.id" style="text-align:center;">


                    <!--      <router-link
                              v-for="meter in meters"
                              :to="`/meters/${meter.id}`"
                              tag="tr"
                              :key="meter.id"
                              style="text-align:center;"
                          >-->

                    <td>
                        <!--  <router-link :to="`/meters/${meter.id}`"> -->{{meter.meter_number}}<!-- </router-link>-->
                    </td>
                    <td>{{meter.meter_mark}}</td>
                    <td>{{meter.created_at}}</td>
                    <td>{{meter.zeit}}</td>
                    <td>{{meter.vm}}</td>
                    <td :class="{problem:meter.vm_consumption<0}">{{meter.vm_consumption}}</td>
                    <td>{{meter.vbt}}</td>
                    <td :class="{problem:meter.vbt_consumption<0}">{{meter.vbt_consumption}}</td>
                    <td :class="{problem:meter.vbt_vm_difference<0}">
                        {{meter.vbt_vm_difference}}
                    </td>
                    <td  :class="{problem:meter.vm_vbt_proportionality=='Problem'}">{{meter.vm_vbt_proportionality}}</td>
                    <td :class="{problem:meter.vm_consumption_bounce=='Problem'}"> {{meter.vm_consumption_bounce}}</td>
                    <td  :class="{problem:meter.vbt_consumption_bounce=='Problem'}"> {{meter.vbt_consumption_bounce}}</td>
                    <td> {{meter.pmp}}</td>
                    <td :class="{problem:meter.pmp_stuck=='Problem'}"> {{meter.pmp_stuck}}</td>
                    <td> {{meter.tmp}}</td>
                    <td :class="{problem:meter.tmp_stuck=='Problem'}"> {{meter.tmp_stuck}}</td>
                    <td> {{meter.vb}}</td>
                    <td :class="{problem:meter.vb_vbt_proportionality=='Problem'}"> {{meter.vb_vbt_proportionality}}</td>
                    <td> {{meter.vmt}}</td>
                    <td :class="{problem:meter.vm_vmt_proportionality=='Problem'}"> {{meter.vm_vmt_proportionality}}</td>
                    <td> {{meter.cmp}}</td>
                    <td :class="{problem:meter.pmp_cmp_difference=='Problem'}"> {{meter.pmp_cmp_difference}}</td>
                    <td> {{meter.qmax}}</td>
                    <td :class="{problem:meter.vm_qmax_comparison=='Problem'}"> {{meter.vm_qmax_comparison}}</td>
                    <td> {{meter.qmin}}</td>
                    <td :class="{problem:meter.vm_qmin_comparison=='Problem'}"> {{meter.vm_qmin_comparison}}</td>
                    <td :class="{problem:meter.indicator_relativity=='Problem'}"> {{meter.indicator_relativity}}</td>
                    <td> {{meter.indicator_id}}</td>
                    <td> {{meter.vbs}}</td>
                    <td> {{meter.vbts}}</td>
                    <td> {{meter.pmps}}</td>
                    <td> {{meter.tmps}}</td>
                    <td> {{meter.kmp}}</td>
                    <td> {{meter.kmps}}</td>
                    <td> {{meter.cmp}}</td>
                    <td> {{meter.cmps}}</td>
                    <td> {{meter.st2}}</td>
                    <td> {{meter.st4}}</td>
                    <td> {{meter.st7}}</td>
                    <td> {{meter.st6}}</td>
                    <td> {{meter.stsy}}</td>
                    <td> {{meter.ev}}</td>
                    <td> {{meter.gono}}</td>
                    <td> {{meter.check}}</td>

                </tr>
                <!-- </router-link>-->

                </tbody>
            </table>
        </div>



        <center v-if="pagination.to_page >= pagination.per_page">
            <nav>
                <ul class="pagination">
                    <li :class="{disabled:!pagination.first_link}" class="page-item"><a class="pointer"
                                                                                        @click="getMeters(pagination.first_link)">&laquo</a>
                    </li>
                    <li :class="{disabled:!pagination.prev_link}" class="page-item"><a class="pointer"
                                                                                       @click="getMeters(pagination.prev_link)">&lt</a>
                    </li>
                    <li v-for="n in pagination.last_page" :class="{active:pagination.current_page==n}" :key="n">


                        <template v-if="n >= pagination.current_page - 5 && n <= pagination.current_page + 5">
                            <a
                                @click="getMeters(pagination.path_page+n)" class="pointer">{{n}}</a>

                        </template>

                        <!--     <a
                                 @click="getMeters(pagination.path_page+n)" class="pointer">{{n}}</a>-->

                    </li>


                    <li :class="{disabled:!pagination.next_link}" class="page-item"><a class="pointer"
                                                                                       @click="getMeters(pagination.next_link)">&gt</a>
                    </li>
                    <li :class="{disabled:!pagination.last_link}" class="page-item"><a class="pointer"
                                                                                       @click="getMeters(pagination.last_link)">&raquo</a>
                    </li>

                </ul>
            </nav>
        </center>

    </div>
</template>


<script>

    import PulseLoader from 'vue-spinner/src/ScaleLoader'

    import XLSX from 'xlsx'

    export default {

        name: "list",
        data() {
            return {
                meters: [],
                pagination: {},
                load: true,
                excel_loading: false,
                search_params: {
                    meter_number: '',
                    meter_type: '',
                    meter_mark: '',
                    zeit: '',
                    vm: '',
                    vm_consumption: '',
                    vbt: '',
                    vbt_consumption: '',
                    vbt_vm_difference: '',
                    archive_from_date: '',
                    archive_to_date: '',
                    created_from_date: '',
                    created_to_date: '',
                    problems: []
                },
                search_clicked: false,


            }
        },
        components: {
            PulseLoader,

        },
        created() {
            this.getMeters();
        },
        methods: {

            getMeters(pagi = 'api/meters') {
                console.log(this.search_params.problems)
                //     pagi = pagi || 'api/meters'
                //  this.page = pagi;
                //  console.log(this.page);
                if (pagi) {
                    this.load = true;
                }

                axios.get(pagi, {
                    headers: {
                        "Authorization": 'Bearer ' + this.$store.getters.currentUser.token
                    },
                    params: this.search_params
                }).then((response) => {
                    //  this.load=true;

                    if (typeof response.data.meters !== 'undefined') {
                        this.pagination = {
                            current_page: response.data.meters.current_page,
                            last_page: response.data.meters.last_page,
                            from_page: response.data.meters.from,
                            to_page: response.data.meters.to,
                            total_page: response.data.meters.total,
                            path_page: response.data.meters.path + '?page=',
                            first_link: response.data.meters.first_page_url,
                            last_link: response.data.meters.last_page_url,
                            prev_link: response.data.meters.prev_page_url,
                            next_link: response.data.meters.next_page_url,
                            per_page: response.data.meters.per_page

                        }
                        this.meters = response.data.meters.data;


                    }

                }).finally(() => this.load = false)
            },

            search() {

                this.getMeters();
            },

            async onexport() { // On Click Excel download button

                // export json to Worksheet of Excel
                // only array possible
                this.excel_loading = true

                axios.get('api/excel', {
                    headers: {
                        "Authorization": 'Bearer ' + this.$store.getters.currentUser.token
                    },
                    params: this.search_params
                }).then((response) => {

                    console.log(response.data)
                    var meters = XLSX.utils.json_to_sheet(response.data.meters)


                    // A workbook is the name given to an Excel file
                    var wb = XLSX.utils.book_new() // make Workbook of Excel

                    // add Worksheet to Workbook
                    // Workbook contains one or more worksheets
                    XLSX.utils.book_append_sheet(wb, meters, 'Hesabatlar') // sheetAName is name of Worksheet


                    // export Excel file
                    XLSX.writeFile(wb, 'Hesabatlar.xlsx') // name of the file is 'book.xlsx'

                    this.excel_loading = false
                });


            }

        }


    }
</script>

<style scoped>
    .btn-wrapper {
        text-align: right;
        margin-bottom: 20px;
    }

    .pointer {
        cursor: pointer;
    }

    .centered {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform: -webkit-translate(-50%, -50%);
        transform: -moz-translate(-50%, -50%);
        transform: -ms-translate(-50%, -50%);
        opacity: 0.7;
        background-color: white;

    }

    .input_filter {
        width: 100%;
        margin: 0px;
        height: 20px;
    }

    .problem {
        background-color: red;
        color: white;
        font-weight: bold;
        padding-top: 18px;
    }

    .option_padding {
        padding-top: 7px;
        padding-bottom: 7px;
    }
</style>
