<template>
    <div class="customer-view" v-if="meter">


        <div class="user-info">
            <table class="table">
                <tr>
                    <th>IsasaD</th>
                    <td>
                        {{meter.id}}
                    </td>
                </tr>
                <tr>
                    <th>
                        Name
                    </th>
                    <td>
                        {{meter.meter_number}}
                    </td>
                </tr>
                <tr>
                    <th>
                        Email
                    </th>
                    <td>
                        {{meter.email}}
                    </td>
                </tr>
                <tr>
                    <th>Website</th>
                    <td>
                        {{meter.website}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Meter",
        data() {
            return {
                meter: null
            }
        },
        created() {
            axios.get(`/api/meters/${this.$route.params.id}`, {
                headers: {
                    "Authorization": 'Bearer ' + this.currentUser.token
                }
            }).then((response) => {
                this.meter = response.data.meter
            })
        },
        computed: {
            currentUser() {
                return this.$store.getters.currentUser;
            }
        }
    }
</script>

<style scoped>

</style>
