<template>
    <div>
        <div class="customer-new">


            <form @submit.prevent="add">
                <table>

                    <tr>
                        <th>Name</th>
                        <td>
                            <input type="text" value="Emil Azizv" class="form-control" v-model="customer.name" placeholder="Customer name">
                        </td>
                    </tr>


                    <tr>
                        <th>Email</th>
                        <td>
                            <input type="text" value="azizov.emil" class="form-control" v-model="customer.email"
                                   placeholder="Customer email">
                        </td>
                    </tr>


                    <tr>
                        <th>Phosane</th>
                        <td>
                            <input type="text" value="+9945078455445" class="form-control" v-model="customer.phone"
                                   placeholder="Customer phone">
                        </td>
                    </tr>


                    <tr>
                        <th>Website</th>
                        <td>
                            <input type="text" class="form-control" value="http://wwww.comasd.com" v-model="customer.website"
                                   placeholder="Customer website">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right">
                            <br><input type="submit" value="Create" class="btn btn-primary">
                        </td>
                    </tr>

                </table>

            </form>
           <!-- <div class="errors" v-if="errors">

                <ul>
                    <li v-for="(fieldsError,fieldName) in errors" :key="fieldName">
                        <strong>{{fieldName}}</strong> {{fieldsError.join('\n')}}
                    </li>
                </ul>
                {{errors}}
            </div>-->
        </div>

    </div>
</template>

<script>
    import validate from 'validate.js';

    export default {
        name: "New",
        data() {
            return {
                customer: {
                    name: 'Emil Azizov',
                    email: 'azizov.emil@gmail.com',
                    phone: '+99450154545',
                    website: 'http://cv-az.com'
                },
            /*    errors: null*/
            };
        },
        computed:{
            currentUser() {
                return this.$store.getters.currentUser;
            },
        },
        methods: {


            add() {
                /*this.errors = null;

                const constraints = this.getConstraints();

                const validate_errors = validate(this.$data.customer, constraints);

                if (validate_errors) {
                    this.errors = validate_errors;
                    return;
                }*/


                axios.post('/api/meters/new',this.$data.customer, {
                    headers: {
                        "Authorization": 'Bearer '+this.currentUser.token
                    }
                }).then((response) => {
                    this.$router.push('/customers');
                });
            },
            getConstraints() {
                return {
                    name: {
                        presence: true,
                        length: {
                            minimum: 3,
                            message: 'Must be at least 3 characters long'
                        }
                    },
                    email: {
                        presence: true,
                        email: true
                    },
                    phone: {
                        numericality: true,
                        presence: true
                    },
                    website: {
                        url: true,
                        presence: true
                    },

                }
            }
        }
    }
</script>

<style scoped>
    .errors {
        background: lightcoral;
        border-radius: 25px;
        padding: 21px 0 21px 0;
    }
</style>
