<template>
    <div>
        <loading v-show="load"></loading>
        <div class="container"  v-show="!load">

            <div :class="{'shake animated': isShowing}">

                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">Login</div>
                        <div class="panel-body">
                            <form class="form-horizontal" role="form" method="post" @submit.prevent="authenticate">
                                <div class="alert alert-primary" role="alert" v-if="authError">

                                    {{authError}}
                                </div>

                                <div class="form-group" :class="{
                                'has-success':(!errors.has('email') && form.email),
                                'has-feedback':!errors.has('email') || errors.has('email'),
                                'has-error':errors.has('email'),
                            }
">
                                    <label for="email" class="col-md-4 control-label">E-Mail ünvan</label>
                                    <div class="col-md-6">
                                        <input id="email" class="form-control" v-validate="'required|email'"
                                               name="email"
                                               v-model="form.email"
                                               type="text">
                                        <span class="glyphicon glyphicon-ok form-control-feedback"
                                              v-if="(!errors.has('email') && form.email)"></span>

                                        <div v-if="submitted || errors.has('email')" class="help-block with-errors">
                                            {{ errors.first('email') }}
                                        </div>
                                    </div>

                                </div>


                                <div class="form-group" :class="{
                                'has-success':(!errors.has('password') && form.password),
                                'has-feedback':!errors.has('password') || errors.has('password'),
                                'has-error':errors.has('password'),
                            }
">
                                    <label for="password" class="col-md-4 control-label">Şifrə</label>

                                    <div class="col-md-6">
                                        <input id="password" v-model="form.password" v-validate="'required'"
                                               class="form-control"
                                               name="password"
                                               type="password"
                                               :class="{
                                            'has-success':(!errors.has('password') && form.password),
                                            'has-feedback':!errors.has('password') || errors.has('password'),
                                            'has-error':errors.has('password'),
                                        }">
                                        <span class="glyphicon glyphicon-ok form-control-feedback"
                                              v-if="(!errors.has('password') && form.password)"></span>

                                        <div v-if="submitted || errors.has('password')" class="help-block with-errors">
                                            {{ errors.first('password') }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-8 col-md-offset-4">
                                        <button type="submit" :disabled="errors.any()" class="btn btn-primary">
                                            Giriş
                                        </button>


                                    </div>


                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {login} from './../../helpers/auth';
    import loading from './../Loading';

    export default {
        name: "login",
        data() {
            return {
                form: {
                    email: '',
                    password: ''
                },
                isShowing: false,
                submitted: false,
                load: false

            };
        },
        components: {
            loading
        },
        methods: {
            authenticate() {


                this.submitted = true;

                this.$validator.validate().then(valid => {
                    if (valid) {
                        this.load = true;
                        this.$store.dispatch('login');
                        login(this.$data.form)
                            .then((res) => {

                                this.$store.commit("loginSuccess", res);
                                this.$router.push({path: '/'});
                            })
                            .catch((error) => {
                                this.$store.commit("loginFailed", {error});
                                this.load = false;
                                this.isShowing = true;

                            });
                        this.isShowing = false;

                    }
                });


            },

        },
        computed: {
            authError() {

                return this.$store.getters.authError;
            },
        },
        /* created(){
             this.$store.dispatch('updateAnimationClass',{
                 inAnimationClass: "slideInRight",
                 outAnimationClass:"flipOutX",

             })
         },
         destroyed(){
             this.$store.commit('clearAnimation');
         }*/

    }
</script>

<style scoped>

</style>
