<template>


        <div class="container">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Register</div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form" @submit.prevent="handleSubmit">
                            <div class="form-group">
                                <label for="email" class="col-md-4 control-label">E-Mail Address</label>
                                <div class="col-md-6">
                                    <input id="email" v-model="email" v-validate="'required|email'" class="form-control" name="email" value="" autofocus="" type="email">
                                    <span>{{ errors.first('email') }}</span>

                                </div>
                            </div>

                            <div class="form-group">
                                <label for="password" class="col-md-4 control-label">Password</label>

                                <div class="col-md-6">
                                    <input id="password" class="form-control" name="password" type="password">

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-md-4 control-label">Password confsirmation</label>

                                <div class="col-md-6">
                                    <input id="password" class="form-control" name="confirm_password" type="password">

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-4">
                                    <div class="checkbox">
                                        <label>
                                            <input name="remember" type="checkbox"> Remember Me
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-4">
                                    <button type="submit" :disabled="errors.any()" class="btn btn-primary">
                                        Login
                                    </button>

                                    <!--  <a class="btn btn-link" href="http://cvs.socar.az/admin/password/reset">
                                          Forgot Your Password?
                                      </a>-->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

</template>

<script>
    export default {
        name: "Register",
        data(){
            return {
                user:{
                    'email':'',
                    'password':''
                },
                submitted: false
            }
        }
        /*created(){
            this.$store.dispatch('updateAnimationClass',{
                inAnimationClass: "flipInX",
                outAnimationClass:"slideOutRight",

            })
        },
        destroyed(){
            this.$store.commit('clearAnimation');
        }*/

    }
</script>

<style scoped>

</style>
