<template>

    <div>
        <nav class="navbar navbar-expand-md navbar-light navbar-laravel">
            <div class="container">
                <router-link to="/" class="navbar-brand">Sayğacın korrektor məlumatları</router-link>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <!-- Right Side Of Navbar -->
                    <ul class="nav navbar-nav navbar-right">
                        <template v-if="!currentUser">
                            <li class="nav-link">
                                <router-link to="/login">Giriş</router-link>
                            </li>
             <!--               <li class="nav-link">
                                <router-link to="/register">Qeydiyyat</router-link>

                            </li>
                            -->

                        </template>
                        <template v-else>
                            <li class="nav-link">
                                <router-link to="/meters" class="nav-link" v-if="currentUser.is_admin==1">Sayğaclar</router-link>
                            </li>
                            <li class="nav-link">
                                <router-link to="/upload" class="nav-link">Upload</router-link>
                            </li>
                            <li class="nav-link dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false"><i class="fa fa-user"></i>  {{currentUser.name}}  </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#!" @click.prevent="logout"> Çıxış</a>
                                    </li>
                                </ul>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</template>


<script>
    export default {
        name: "Header",
        methods:{
            logout()
            {
                this.$store.commit('logout');
                this.$router.push('/login');
            }
        },
        computed:{
            currentUser()
            {
               // console.log(this.$store.currentUser,'kklkllklk');
                return this.$store.getters.currentUser;

            }
        }
    }

</script>

<style scoped>

</style>
