<template>
    <div id="main">
      <Header></Header>

        <transition name="custom-classes-transition"
                    :enter-active-class="enterAnimationClass"
                    :leave-active-class="leaveAnimation" :duration="400" mode="out-in">
            <router-view></router-view>
        </transition>

                <Footer></Footer>
    </div>
</template>

<script>
    import Header from './Header';
    import Footer from "./Footer";
    import  test  from "vue-spinner/src/RotateLoader";



    export default {
        name: 'main-app',
        components: {
            Footer,
            Header: Header,
            PulseLoader:test
        },
        computed: {
            enterAnimationClass() {
                return this.$store.getters.getAnimationClass.inAnimationClass
            },
            leaveAnimation() {
                return this.$store.getters.getAnimationClass.outAnimationClass
            }

        }

    }
</script>
<style>

</style>
