<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header">Xoş gəlmisiniz</div>

                    <div class="card-body">

                        <center><i class="fa fa-user-secret" style="font-size:89px"></i><br>


                            Hörmətli <b>{{name}}</b>, Admin İdarəetmə Panelinə xoş gəlmisiniz.
                            <br><br><br>

                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {name: this.$store.getters.currentUser.name}
        },
        computed: {
            currentUser() {
                return this.name
            }
        }
    }
</script>

<style scoped>

</style>
